* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #737373;
  color: #222;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

h1 {
  background-color: #d8d8d8;
  padding: 40px 70px;
  border-radius: 12px;
  font-size: 35px;
  letter-spacing: 2px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.image-input {
  display: none;
}

#convert-button,
#download-button,
.upload-btn {
  padding: 14px 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#convert-button:hover,
#download-button:hover,
.upload-btn:hover {
  background: #45a049;
}

.preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  margin-top: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;
}
#preview-container img {
  height: 130px;
  width: 150px;
  border-radius: 6px;
  object-fit: cover;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
